*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modlaForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.modalForminput{
display: flex;
justify-content: space-between;
}

.modalInput{
  display: flex;
  flex-direction: column;
}